@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

:root {
  /* ### Primary */
  --Purple-500: hsl(259, 100%, 65%);
  --Red-400: hsl(0, 100%, 67%);
  /* ### Neutral */
  --White: hsl(0, 100%, 100%);
  --Grey-100: hsl(0, 0%, 94%);
  --Grey-200: hsl(0, 0%, 86%);
  --Grey-500: hsl(0, 1%, 44%);
  --Black: hsl(0, 0%, 0%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Poppins;
}

body {
  background: var(--Grey-100);
}